@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Data Science Tool Box</h1>
    <p>Please run one of the following applications</p>
    <p><a href="http://localhost:8787">RStudio</a></p>
    <p><a href="https://mybinder.org/v2/gh/spyder-ide/spyder/master?urlpath=%2Fdesktop">SpyderIDE</a></p>
    <p><a href="https://welcome.oda.sas.com/login">IBM SAS</a></p>
    <p><a href="http://localhost:8008/vnc.html">Git</a></p>
    <p><a href="http://localhost:8888">Jupyter Notebook</a></p>
    <p><a href="http://localhost:6902">Orange</a></p>
    <p><a href="http://localhost:8443">Visual Studio Code IDE</a></p>
    <p><a href="http://localhost:6901/">Apache Hadoop</a></p>
    <p><a href="http://localhost:8889/terminals/1">Apache Spark</a></p>
    <p><a href="https://prod-useast-b.online.tableau.com/#/site/yryoliverattableaucom/home">Tableau</a></p>
    <p><a href="http://localhost:9000/projects">SonarQube and Sonar Scanner Binaries</a></p>
    <p><a href="http://localhost:8083/vnc.html">Tensorflow</a></p>
    <p><a href="http://localhost:8080">Markdown-Dillinger Eiditor</a></p>
    <p><a href="https://localhost:44382/NotePadStart">Notepad++(Not available)</a></p>
</div>
