@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Data Science Tool Box</h1>
    <p>Please run one of the following applications</p>
    <p><a href="http://rstudio.eastus.azurecontainer.io:8787/auth-sign-in">RStudio</a></p>
    <p><a href="https://www.w3schools.com">Spyder</a></p>
    <p><a href="https://www.w3schools.com">IBM SAS</a></p>
    <p><a href="https://www.w3schools.com">Git</a></p>
    <p><a href="https://www.w3schools.com">Jupyter Notebook</a></p>
    <p><a href="https://www.w3schools.com">Orange</a></p>
    <p><a href="https://www.w3schools.com">Visual Studio Code IDE</a></p>
    <p><a href="https://www.w3schools.com">Apache Hadoop</a></p>
    <p><a href="https://www.w3schools.com">Apache Spark</a></p>
    <p><a href="https://www.w3schools.com">Tableau</a></p>
    <p><a href="https://www.w3schools.com">SonarQube and Sonar Scanner Binaries</a></p>
    <p><a href="https://www.w3schools.com">Tensorflow</a></p>
    <p><a href="https://www.w3schools.com">Markdown</a></p>
    <p><a href="https://localhost:44382/NotePadStart">Notepad++</a></p>
</div>
